body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

.profile {
    background-image: url('./pics/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.profileContent {
    position: relative;
}

.badges {
    display: flex;
}

.icon {
    width: 30px;
    aspect-ratio: 3/2;
    object-fit: contain;
}